# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS specifics
*.DS_Store

*.xcuserstate

*.xcbkptlist

Debug
Release
.vs
.idea
*.user

xcuserdata
Builds
cmake-build-debug
cmake-build-release
JuceLibraryCode
juce
bin
doxygen/doc
doxygen/build
